body{
    background-color: #9eff57;
}
header{
    background-color: #b16efa;
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    border-style: solid;
    width: 400px;
    height: 125px;
    margin: auto;
}

main{
}