header {
    text-align: center;
    font-size: 3vw;
    font-weight: bolder;
    color: white;
    background-color: #4c4a4c;
    padding: 20px 20px;
    margin: 0 0;
}

h2{
    font-size: 30px;
}

body {
    margin: 0;
    padding: 0;
    color: rgb(33, 33, 33);
    font-family: sans-serif;
    animation: colorchange 60s linear 1s infinite;
}
@keyframes colorchange
{
    0%   {background: #95c11f; }
    20%   {background: #f5a704; }
    40%   {background: #8acccb; }
    60%  {background: #e30613; }
    80%  {background: #cf225a; }
    100% {background: #1392d8; }
}

main {
    max-width: 800px;
    margin: 0 auto;
}

.buttons{
    border: none;
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 32px 32px;
    margin: 10px;
    justify-content: center;
}

.A{
    background-color: #de4646;
}

.B{
    background-color: #55a1cd;
}

input[type=text]{
    margin-bottom: 25px;
}

input[type=submit]{
    background-color: #4c4a4c;
    border: none;
    border-radius: 25px;
    padding: 15px 30px;
    /*margin: 20px;*/
    display: block;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    margin: auto;
}

form, .welcome{
    text-align: center;
    border: none;
    border-radius: 20px;
    margin: 75px 50px;
    padding: 100px 50px;
    background-color: #eaeaea;
}